extends layout

block content

	center
		img.logo(src='images/jujuy.png')

	center
		h1.titulo='Legislatura de Jujuy'

	div(class='panel panel-danger')
		div(class='panel-heading')='Informacion'
		div(class='panel-body')='La sesión ha caducado. Debe reiniciar la aplicación.'