script(src='/javascripts/login.js')
center
	img.logo(src='images/jujuy.png')

center
	h1.titulo='Legislatura de Jujuy'

div(class='panel panel-info')
	div(class='panel-heading')='Ingresar a la Aplicacion'
	div(class='panel-body')
		div(class='form form-inline')
			form(action='login',method='GET')
				input(type="text", class="form-control", id="userLogin", placeholder="Cuil")
				input(type="password", class="form-control", id="userPass", placeholder="Password")
				input(type="button", class="btn btn-success", value="Ingresar", onclick='login()')