extends layout

block content

	center
		img.logo(src='#{logo}')

	center
		h1.titulo='Legislatura de Jujuy'

	div(class='panel panel-primary')
		div(class='panel-heading')='Informacion'

		div(class='panel-body')='Servidor de autenticacion. Consulte al Centro de Computos de la Legislatura de Jujuy para implementar este servidor dentro de su aplicacion.'