@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(font.woff2) format('woff2'), url(font.woff) format('woff');
}

*{
  margin:0;
  padding:0;
  border:0;
}

.logo{
	width:60px;
	margin-top:50px;
}

.titulo{
	margin-top:0;
	font-family:"Great Vibes", cursive;
}